*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}


/****** TOP CONTENT ******/
#top{
    height: calc(100vh - 75px);
}

.top-content {
    display: flex;
    height: 100%;
}



/****** BOTTOM CONTENT ******/
#bottom{
    height: 75px;
    background-color: gray;
}



/****** SIDEBAR ******/
#sidebar{
    width: 50px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.svg-sidebar{
    width: 100%;
    padding: 7px;
}

.sidebar-profile{
    background-color: gray;
    border-radius: 100%;
}

.show{
    display: block;
}

.hidden{
    display: none;
}

.fa-plus{
    background-color: gray;
    padding: 5px;
    color: black;
    font-size: 35px;
    margin: 10px;
}

.content-sidebar-playlist{
    color: #717171;
}

h4{
    color: white;
    padding: 20px 10px 0px;
    font-weight: 800;
}

ul{
    list-style: none;
}

li{
    padding: 10px;
    display: inline-block;
}

.playlist-list{
    overflow-y: auto;
    height: 30vh;
}

hr{
    background-color: #717171;
    border: none;
    height: 2px;
    margin: 3px 15px 15px;
}


/****** HEADER ******/
header{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    height: 75px;
    width: calc(100vw - 50px);
    text-align: right;
    z-index: 1;
}

button{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 30px;
    font-weight: 700;
    color: white;
    padding: 10px 30px;
    margin: 15px 10px;
}


/****** MAIN ******/
#content{
    width: calc(100vw - 50px);
    background-color: #171d27;
    overflow-y: auto;
}

.main-content{
    margin-top: 80px;
}

.container{
    width: 100%;
    text-align: start;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

/* SECTION LIST */
.col-list{
    width: 100%;
    height: 50px;
    color: #717171;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    margin: 10px;
}

.li-menu{
    border-bottom: 3px solid #ADFF2F;
}


/* SECTION RECENTLY PLAYED */
.col {
    width: calc(100% / 2 - 20px);
    margin: 10px;
}

h1 {
    color: white;
    width: 100%;
    margin: 30px 10px 10px ;
}

.album{
    position: relative;
    width: 100%;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    top: 0;
    left: 0;
}

.album:hover .overlay{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.album img{
    width: 100%;
}

.fa-circle-play{
    color: white;
    font-size: 40px;
}

h6{
    color: #717171;
    font-weight: 700;
    text-align: center;
}

.h4-play{
    padding: 10px 0;
    text-align: center;
}


/* SECTION JOHN DOE */
p {
    color: #717171;
    width: 100%;
    margin: 5px 10px 20px;
}


/* SECTION MOST POPULAR */
.col-circle {
    border-radius: 100%;
}



/****** FOOTER ******/




/****** MEDIA QUERY SIDEBAR ******/
@media screen and (min-width: 550px) {
    #sidebar {
        width: 200px;
    }

    #content {
        width: calc(100vw - 200px);
    }
    
    .show{
        display: none;
    }

    .hidden{
        display: block;
    }

    span{
        color: #717171;
        margin: 5px;
        position: relative;
        top: -10px;
    }

    .span-bottom{
        top: -15px
    }

    .span-john{
        color: white;
    }

    .svg-sidebar{
        width: 20%;
        padding: 0;
        fill: #717171;
    }

    .logo{
        width: 100%;
        padding: 10px;
    }

    li:hover, 
    span:hover, 
    .span-bottom:hover{
       color: white;
    }

    .li-top{
        padding: 1px 10px;
    }

    .li-top:first-child{
        margin-top: 10px;
        border-left: 3px solid #ADFF2F;
        padding-left: 5px;
    }

    header{
        width: calc(100vw - 200px);
    }

    button:hover{
        font-size: 16px
    }
    
}


/****** MEDIA QUERY TABLET ******/
@media screen and (min-width: 750px){
    .col {
        width: calc(100% / 4 - 20px);
    }
}


/****** MEDIA QUERY DESKTOP ******/
@media screen and (min-width: 1100px){
    .col {
        width: calc(100% / 6 - 20px);
    }

}